[tool.poetry]
name = "bblocks"
version = "1.0.1"
description = "A package with tools to download and analyse international development data. These tools are meant to be the building blocks of further analysis."
authors = ["The ONE Campaign <data@one.org>"]
readme = "README.md"
license = "MIT"
classifiers=[
    'Development Status :: 2 - Pre-Alpha',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Natural Language :: English',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.10',
]
packages = [
    { include = "bblocks" },
]

[tool.poetry.dependencies]
python = "^3.10"
pandas = "^1.5.3"
numpy = "^1.24.1"
country-converter = "^0.8.0"
openpyxl = "^3.0.10"
requests = "^2.28.2"
opencv-python = "^4.7.0"
weo = "^0.7.4"
beautifulsoup4 = "^4.11.1"
pyjstat = "^2.3.0"
pyarrow = "^11.0.0"
wbgapi = "<1.1"
PyPDF2 = "^2"
camelot-py = "^0.10.1"

[tool.poetry.dev-dependencies]
bump2version = "^1.0.1"
black = "^22.12.0"
pytest = "^7.2.1"
pytest-cov = "^4.0.0"

[tool.poetry.group.dev.dependencies]
myst-nb = {version = "^0.17.1", python = "^3.9"}
sphinx-autoapi = "^2.0.1"
sphinx-rtd-theme = "^1.1.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
