[tool.poetry]
name = "bblocks"
version = "1.2.2"
description = "A package with tools to download and analyse international development data. These tools are meant to be the building blocks of further analysis."
authors = ["The ONE Campaign <data@one.org>"]
readme = "README.md"
license = "MIT"
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Natural Language :: English',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.10',
]
packages = [
    { include = "bblocks" },
]

[tool.poetry.dependencies]
python = "^3.10"
pandas = "^2"
numpy = "^1"
country-converter = "^1"
openpyxl = "^3.0.10"
requests = "^2.28"
opencv-python = "^4.7.0"
weo = "^0.7.4"
beautifulsoup4 = "^4.12"
pyjstat = "^2.3"
pyarrow = "^15"
wbgapi = "<1.1"
camelot-py = "^0.11"
pypdf = "^3.17"

[tool.poetry.dev-dependencies]
bump2version = "^1.0.1"
black = "^24"
pytest = "^8"
pytest-cov = "^4.0.0"
myst-nb = {version = "^1", python = "^3.1"}
sphinx-autoapi = "^3.0"
#sphinx-rtd-theme = "^1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
